---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import figmaLogo from "../../../public/figma.svg";
import linkedinLogo from "../../../public/linkedin.svg";
import calendarImage from "../../../public/calendar.svg";
import projectImage from "../../../public/project1.png";
import moneyImage from "../../../public/money.svg";
import { Image } from "astro:assets";
import Link from "../../components/Link.astro";
import FAQ from "../../components/FAQ.astro";

export function getStaticPaths() {
  return [
    { params: { course: "react" } },
    { params: { course: "web" } },
    { params: { course: "javascript" } },
    { params: { course: "astro" } },
  ];
}

const { course } = Astro.params;
const courseData = await getEntry("courses", course);

if (!courseData) {
  throw new Error("Course not found");
}

const {
  title,
  description,
  startDate,
  figmaLink,
  buyLink,
  faqs,
  topics,
  instructor,
  project,
  price,
} = courseData.data;

const dateObj = new Date(startDate);

const formattedDate = dateObj.toLocaleDateString("es-PE", {
  day: "2-digit",
  month: "long",
  year: "numeric",
});
---

<Layout
  title=`Curso: ${title} | Coding Latam`
  description="Aprende a programar haciendo proyectos reales"
>
  <header
    class={`bg-sky-500 bg-hero-${course} h-96 bg-cover bg-center relative flex items-center`}
    transition:name=`media-image-${title}`
  >
    <div class="absolute inset-0 bg-gray-800 opacity-70"></div>
    <div class="content max-w-6xl lg:mx-auto px-4 relative z-10 w-full">
      <h1 class="text-white mb-6">{title}</h1>
      <p class="max-w-2xl font-semibold text-lg mb-4">
        {description}
      </p>
      <div class="dates flex gap-2 items-center mb-4 mt-10">
        <Image class="max-w-10" src={calendarImage} alt="Calendar" />
        <p class="text-base font-bold">INICIO: {formattedDate}</p>
      </div>

      <Link target="_blank" href={buyLink} variant="fill">
        Reservar mi lugar
      </Link>
    </div>
  </header>

  <main class="relative">
    <section class="topics max-w-6xl mx-auto px-4 py-16">
      <h2>Temario</h2>
      <ul
        class="list-disc pl-5 grid grid-cols-1 lg:grid-cols-2 gap-4 max-w-2xl"
      >
        {topics?.map((item) => <li>{item.title}</li>)}
      </ul>
    </section>
    <section
      class="py-8 instructor md:absolute left-[60%] lg:right-[10%] top-0 text-center max-w-72 mx-auto px-4 md:py-0 md:pt-24"
    >
      <p class="text-base mb-6">Aprende con:</p>
      <div
        class="content flex justify-center items-center gap-4 flex-wrap max-w-80"
      >
        <Image
          class="rounded-full"
          src={instructor.picture}
          alt={instructor.name}
          width={150}
          height={150}
        />
        <div class="name flex gap-2 items-center">
          <h3 class="text-primary-300">{instructor.name}</h3>
          <Link target="_blank" href={instructor.linkedin} variant="none">
            <Image class="max-w-6" src={linkedinLogo} alt="Linkedin" />
          </Link>
        </div>

        <p>{instructor.role}</p>
      </div>
    </section>
    <section class="project bg-black-border py-16">
      <div
        class="content max-w-6xl mx-auto px-4 grid grid-cols-1 lg:grid-cols-2 gap-8"
      >
        <div class="left">
          <h2>
            Proyecto a desarrollar: <span class="text-white"
              >{project.name}</span
            >
          </h2>

          <ul class="list-disc pl-5 flex flex-col gap-4">
            {project.topics.map((item) => <li>{item}</li>)}
          </ul>
        </div>
        <div class="right lg:-order-1 lg:self-end">
          <Image src={projectImage} alt="Project" />
          <div class="figma flex gap-2 justify-center items-center my-6">
            <Image class="max-w-10" src={figmaLogo} alt="Figma" />
            <a
              target="_blank"
              class="underline underline-offset-4"
              href={figmaLink}>Figma del proyecto</a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="price py-16 grid grid-cols-1 justify-items-center">
      <h2>Precio del programa</h2>
      <Image class="w-40 lg:w-1/12" src={moneyImage} alt=" Price" />
      <p class="mt-10 mb-2 text-2xl">Precio regular</p>
      <h3 class="mb-8 line-through text-4xl">${price.regular}</h3>
      <p class="mb-2 text-2xl">Precio con descuento</p>
      <h3 class="mb-8 text-4xl">${price.discount}</h3>
      <Link target="_blank" href={buyLink} variant="fill">
        Aprovechar el descuento!
      </Link>
      <p class="mt-2 text-[14px]">Hasta 3 cuotas sin interés</p>
    </section>
    <section class="instructor-detail py-16 my-10 bg-black-border">
      <div class="content max-w-6xl mx-auto px-4">
        <h2>Conoce a <span class="text-white">{instructor.name}!</span></h2>
        <div
          class="info flex items-center gap-8 flex-wrap justify-center md:flex-nowrap"
        >
          <Image
            class="rounded-full"
            src={instructor.picture}
            alt={instructor.name}
            width={150}
            height={150}
          />
          <div class="mt-4" set:html={instructor.description} />
        </div>
      </div>
    </section>
    <section class="faqs py-16">
      <div class="content max-w-6xl mx-auto px-4">
        <h2 class="my-6 text-primary-300">Preguntas frecuentes</h2>
        {faqs?.map((item) => <FAQ {...item} />)}
      </div>
    </section>
    <section
      class="py-16 text-center grid grid-cols-1 gap-6 max-w-6xl mx-auto px-4"
    >
      <h3 class="leading-8">
        Sesiones <span class="text-primary-300">EN VIVO</span> + horas extras de
        preguntas y respuestas
      </h3>
      <h3 class="leading-8">
        Aprenderás <span class="text-primary-300">HACIENDO</span>
      </h3>
      <h3 class="leading-8">
        Proyectos que puedes agregar a tu <span class="text-primary-300"
          >PORTAFOLIO</span
        >
      </h3>
      <div class="action mx-auto mt-12">
        <Link target="_blank" href={buyLink} variant="fill"
          >Reserva mi lugar!</Link
        >
      </div>
    </section>
  </main>
</Layout>
<style>
  h2 {
    @apply text-primary-300 my-6;
  }
</style>
