---
import { getCollection, getEntry } from "astro:content";
import CoursesLayout from "../../layouts/CoursesLayout.astro";
import figmaLogo from "../../assets/figma.svg";
import linkedinLogo from "../../assets/linkedin.svg";
import calendarImage from "../../assets/calendar.svg";
import projectImage from "../../assets/project1.png";
import moneyImage from "../../assets/money.svg";
import youtubeLogo from "../../assets/youtube-logo.svg";
import peruFlag from "../../assets/peru.svg";
import colombiaFlag from "../../assets/colombia.svg";
import { Image } from "astro:assets";
import Link from "../../components/Link.astro";
import FAQ from "../../components/FAQ.astro";
import { formatDate } from "../../utils";
import Countdown from "../../components/Countdown.astro";

export function getStaticPaths() {
  return [
    { params: { course: "react" } },
    { params: { course: "web" } },
    { params: { course: "javascript" } },
    { params: { course: "nextjs" } },
  ];
}

const { course } = Astro.params;
const courseData = await getEntry("courses", course);
const bannersList = await getCollection("banners");

if (!courseData) {
  throw new Error("Course not found");
}

const {
  title,
  description,
  startDate,
  endDate,
  figmaLink,
  buyLink,
  faqs,
  topics,
  instructor,
  project,
  price,
  schedule,
  days,
  demo,
} = courseData.data;

const priceLabelStyle = price.discount > 0 ? 'line-through' :  ''
---

<CoursesLayout
  title=`Curso: ${title} | Coding Latam`
  description="Aprende a programar haciendo proyectos reales"
>
{bannersList.map((banner) => <Countdown {...banner.data} />)}
  <header
    class={`bg-sky-500 bg-hero-${course} h-auto pt-20 pb-16 md:py-16 bg-cover bg-center relative flex items-center`}
    transition:name=`media-image-${title}`
  >
    <div class="absolute inset-0 bg-gray-800 opacity-70"></div>
    <div class="content max-w-6xl lg:mx-auto px-4 relative z-10 w-full">
      <h1 class="text-white mb-6">{title}</h1>
      <p class="max-w-2xl font-semibold text-lg mb-4 text-white">
        {description}
      </p>
      <ul class="list-disc pl-5">
        <li>Grupo reducido</li>
        <li>Clases EN VIVO</li>
        <li>Acceso a TODAS las sesiones grabadas</li>
        <li>
          45 minutos de ronda de preguntas al culminar CADA CLASE para que
          aclares TODAS tus dudas
        </li>
        <li>PROYECTOS reales para tu PORTAFOLIO</li>
      </ul>
      <div class="dates flex gap-2 items-center mb-4 mt-10">
        <Image class="max-w-10" src={calendarImage} alt="Calendar" />
        <p class="text-base font-bold text-white">
          INICIO: {formatDate(startDate)}
        </p>
      </div>

      <Link target="_blank" href={buyLink} variant="fill">
        Reservar mi lugar
      </Link>
    </div>
  </header>

  <main class="relative">
    <section class="topics max-w-6xl mx-auto px-4 py-16">
      <h2>Temario</h2>
      <ul
        class="list-disc pl-5 grid grid-cols-1 lg:grid-cols-2 gap-y-4 gap-x-8 max-w-2xl"
      >
        {
          topics?.map((item) => (
            <li class="text-black/70 dark:text-white">{item.title}</li>
          ))
        }
      </ul>
    </section>
    <section
      class="py-8 instructor md:absolute left-[60%] lg:right-[10%] top-0 text-center max-w-72 mx-auto px-4 md:py-0 md:pt-24"
    >
      <p class="text-base mb-6">Aprende con:</p>
      <div
        class="content flex justify-center items-center gap-4 flex-wrap max-w-80"
      >
        <Image
          class="rounded-full"
          src={instructor.picture}
          alt={instructor.name}
          width={150}
          height={150}
        />
        <div class="name flex gap-2 items-center">
          <h3 class="text-primary-300">{instructor.name}</h3>
          <Link target="_blank" href={instructor.linkedin} variant="none">
            <Image class="max-w-6" src={linkedinLogo} alt="Linkedin" />
          </Link>
        </div>

        <p>{instructor.role}</p>
      </div>
    </section>
    <section class="project bg-black-border py-16">
      <div
        class="content max-w-6xl mx-auto px-4 grid grid-cols-1 lg:grid-cols-2 gap-8"
      >
        <div class="left">
          <h2>
            Proyecto a desarrollar: <span class="text-white"
              >{project.name}</span
            >
          </h2>

          <ul class="list-disc pl-5 flex flex-col gap-4">
            {project.topics.map((item) => <li>{item}</li>)}
          </ul>
        </div>
        <div class="right lg:-order-1 lg:self-end">
          <Image src={projectImage} alt="Project" />
          <div class="figma flex gap-2 justify-center items-center my-6">
            <Image class="max-w-10" src={figmaLogo} alt="Figma" />
            <a
              target="_blank"
              class="underline underline-offset-4"
              href={figmaLink}>Figma del proyecto</a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="details max-w-6xl mx-auto px-4 py-8">
      <h2 class="text-center">Detalles del curso</h2>
      <div class="info pt-4 grid grid-cols-1 md:grid-cols-4 gap-2 mb-20">
        <div class="days mb-6 md:mb-0">
          <h4>Días</h4>
          <p class="text-xl">{days}</p>
        </div>
        <div class="dates grid grid-cols-1 gap-6">
          <div class="startDate">
            <h4>Inicio</h4>
            <p class="text-xl">{formatDate(startDate)}</p>
          </div>
        </div>
        <div class="schedule mt-6 md:mt-0">
          <h4>Horarios</h4>
          <p class="text-xl">{schedule}</p>
          <div class="flex gap-2">
            <Image class="max-w-6" src={peruFlag} alt="Peru" />
            <Image class="max-w-6" src={colombiaFlag} alt="Colombia" />
          </div>
        </div>
        <div class="people mt-6 md:mt-0">
          <h4>Cupos</h4>
          <p class="text-xl">20 participantes</p>
        </div>
      </div>
      <div class="demo flex gap-2 items-center justify-center">
        <Image class="max-w-16" src={youtubeLogo} alt="Clase demo" />
        <a
          target="_blank"
          class="text-lg uppercase underline underline-offset-4 text-black/70 dark:text-white"
          href={demo}>¡Mira todo lo que aprenderás en nuestras clases aquí!</a
        >
      </div>
    </section>
    <section class="price py-16 grid grid-cols-1 justify-items-center">
      <h2>Precio del programa</h2>
      <Image class="w-40 lg:w-1/12" src={moneyImage} alt=" Price" />
      <p class="mt-10 mb-2 text-2xl">Precio regular</p>
      <h3 class={`mb-8 text-4xl flex gap-2 ${priceLabelStyle}`}>
        <Image class="max-w-8" src={peruFlag} alt="Peru" /> S/{
          price.regular * 4
        } o ${price.regular}
      </h3>
      {price.discount > 0 && <p class="mb-2 text-2xl">Precio con descuento</p>
      <h3 class="mb-8 text-4xl flex gap-2">
        <Image class="max-w-8" src={peruFlag} alt="Peru" /> S/{
          price.discount * 4
        } o ${price.discount - 1}
      </h3>
      <Link target="_blank" href={buyLink} variant="fill">
        Aprovechar el descuento!
      </Link>}
      
      <p class="mt-2 text-[14px]">Hasta 2 cuotas sin interés</p>
    </section>
    <section class="instructor-detail py-16 my-10 bg-black-border">
      <div class="content max-w-6xl mx-auto px-4">
        <h2>Conoce a <span class="text-white">{instructor.name}!</span></h2>
        <div
          class="info flex items-center gap-8 flex-wrap justify-center md:flex-nowrap"
        >
          <Image
            class="rounded-full"
            src={instructor.picture}
            alt={instructor.name}
            width={150}
            height={150}
          />
          <div class="mt-4" set:html={instructor.description} />
        </div>
      </div>
    </section>
    <section class="faqs py-16">
      <div class="content max-w-6xl mx-auto px-4">
        <h2 class="my-6 text-primary-300">Preguntas frecuentes</h2>
        {faqs?.map((item) => <FAQ {...item} />)}
      </div>
    </section>
    <section
      class="py-16 text-center grid grid-cols-1 gap-6 max-w-6xl mx-auto px-4"
    >
      <h3 class="leading-8">
        Sesiones <span class="text-primary-300">EN VIVO</span> + horas extras de
        preguntas y respuestas
      </h3>
      <h3 class="leading-8">
        Aprenderás <span class="text-primary-300">HACIENDO</span>
      </h3>
      <h3 class="leading-8">
        Proyectos que puedes agregar a tu <span class="text-primary-300"
          >PORTAFOLIO</span
        >
      </h3>
      <div class="action mx-auto mt-12">
        <Link target="_blank" href={buyLink} variant="fill"
          >Reserva mi lugar!</Link
        >
      </div>
    </section>
  </main>
</CoursesLayout>
<style>
  h2 {
    @apply text-primary-300 my-6;
  }
</style>
