---
import { Image } from "astro:assets";
import Link from "./Link.astro";

const { data, slug } = Astro.props;
const { title, description } = data;
---

<article
  class="flex flex-wrap gap-6 justify-center border border-black-border rounded-lg pb-6 content-between"
>
  <Image
    src=`/${slug}-bg.jpg`
    alt={slug}
    width={720}
    height={720}
    style="width: 100%"
    class="h-auto lg:h-[293px] object-cover"
  />
  <h3>{title}</h3>
  <p class="px-6 mb-6 lg:min-h-28">
    {description}
  </p>
  <Link href=`/cursos/${slug}` variant="fill"> Ir al curso</Link>
</article>
