---
import Button from '../buttons/button.astro';
interface Props {
  title: string;
  description: string;
  image: string;
  gridClasses: string;
  hasButton: boolean;
  buttonText?: string;
  buttonClass?: string;
  reverseButton?: boolean;
  flex: boolean;
}

const {
  title,
  description,
  image,
  gridClasses,
  hasButton,
  buttonText,
  buttonClass,
  reverseButton,
  flex,
} = Astro.props as Props;
---
<div id="gridItem" class={`h-[325px] hover:border-primary-600 overflow-hidden bg-[#1e1e1e] ${gridClasses} rounded-md border border-gray-800 ${flex ? 'flex' : ''}`}>
  <section class=`px-5 mt-2  flex flex-col ${reverseButton && " flex-col-reverse justify-center " } gap-5 `>    
        {hasButton && (
            <div class="mt-5">
                <Button class={buttonClass} text={buttonText} />
            </div>
        )}
    
    <div>
        <h2 class={`text-2xl font-bold  ${!flex ? 'text-center' : ''}`}>{title}</h2>
        <p class={`text-gray-200 mt-3 ${!flex ? 'text-center' : ''}`}>{description}</p>
    </div>
  </section>
  {flex ? (
    <div class="grid  w-1/2 justify-center items-center">
      <img class="relative w-[250px]" src={image}
        alt={title} />
    </div>    
  ) : (
    <div class={`grid  ${!flex && 'mt-10'} ${!hasButton ? 'justify-center' : ''}`}>
      <img class={`relative ${!flex ? 'w-full' : 'w-[300px]'}`} src={image} alt={title} />
    </div>
  )}
</div>

<style>
  #gridItem section:nth-child(2) div:nth-child(1) img {
    width: 200px;
    height: 100%;
    object-fit: cover;
  } 

</style>
