---
import "@fontsource-variable/fira-code";
import { ViewTransitions } from "astro:transitions";

import "../styles/globals.css";
import Footer from "../components/Footer.astro";
import Opengraph from "../components/Opengraph.astro";
import Nav from "../islands/Nav";
import sunImage from "../assets/sun.svg";
import moonImage from "../assets/moon.svg";
import { Image } from "astro:assets";
import ThemeToggle from "../components/ThemeToggle";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <Opengraph title={title} description={description} />
    <GoogleAnalytics />
  </head>
  <body class="bg-slate-100 dark:bg-light-black">
    <Nav client:load />
    <main class="">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  body {
    font-family: "Fira Code Variable", monospace;
    color: #fff;
  }
</style>
<script id="mcjs">
  !(function (c, h, i, m, p) {
    (m = c.createElement(h)),
      (p = c.getElementsByTagName(h)[0]),
      (m.async = 1),
      (m.src = i),
      p.parentNode.insertBefore(m, p);
  })(
    document,
    "script",
    "https://chimpstatic.com/mcjs-connected/js/users/bcf18d1578958dc0571df82b5/3b6fbb629532e483f6627c1fe.js"
  );
</script>
